{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <form action="{% url 'create' %}" method="POST">
        <div class="form-group">
            <label for="title">{{ form.title.label }}:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="description">{{ form.description.label }}:</label>
            <div>
                {{ form.description }}
            </div>      
        </div>
        <div class="form-group">
            <label for="bid">{{ form.bid.label }}:</label>
            {{ form.bid }}
        </div>
        <div class="form-group">
            <label for="image">{{ form.image.label }}</label>
            {{ form.image }}
        </div>
        <div class="form-group">
            <label for="category">{{ form.category.label }}</label>
            {{ form.category }}
        </div>
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
{% endblock %}